<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Tom Cummings</title>
</head>

<body>

    <header>
        <h1>Tom Cummings</h1>
    </header>

    <div class="main">
        <div class="About">
            <h2>Tad Bit About Me</h2>

            <div class="leftSegment">
                <p class="aboutMeText">
                    Hey 👋, I'm Tom. I’m an aspiring Computer Scientist and have a keen interest in Artificial Intelligence and how it can advance human life.
                </p>
    
                <p class="aboutMeText">
                    I’ve always been fascinated by technology. I had dreams of having the perfect smart home; watching consumer videos on YouTube and always wanting the latest tech. However, around two years ago I had a switch in mindset. I went from wanting all of the tech to wanting to make all of the tech.
                </p>
    
                <p class="aboutMeText">
                    Around March 2020 I began to learn Python. At first, I really struggled, gave up many times and decided it was too difficult. Plus, balancing this with schoolwork was quite difficult. Luckily, I had a global pandemic on my side with a lot of free time. Once I decided I really wanted to learn and make a career of this my learning process was really expedited. Unfortunately, by the time I had made this decision properly the lockdown was over and I was back at school. It was manageable but difficult.
                </p>
    
                <p class="aboutMeText">
                    In January 2021 another lockdown was in place, meaning that, again, I had huge amounts of time to learn. I took advantage of this time and became a fairly decent programmer. I wasn’t really creating a portfolio of work but I had acquired the knowledge I needed. I continued to learn at a steady rate. Picking up information along the way.
                </p>
    
                <p class="aboutMeText">
                    And that brings us to now, skipping lots of surplus information which you can read here. I’d call myself a fairly advanced Python developer now. I know lots of information about a broad range of programming topics and finally feel confident enough to start building a portfolio. I’m currently building a network for my family home which incorporates all of our smart devices, some of which I’ve created myself, and consequently, the server that the website you’re currently reading is hosted on.
                </p>
    
                <p class="aboutMeText">
                    Thank you for reading this. Hopefully you’ll now feel compelled enough to follow my journey. That’s what portfolios are for aren’t they?
                </p>
            </div>

            <div class="rightSegment">
                <div class="meImageBox">
                    <img class="meImage" src="{{ url_for('static', filename= 'images/me.jpeg') }}" alt="Tom Cummings">
                </div>
            </div>
        </div>

        <div class="Socials">
            <h2>Socials</h2>

            <ul class="social-btn-list">
                <li class="social-btn-list-item top">
                    <div class="social-btn">
                        <a class="social-btn-link" href="https://github.com/TomCummings07">GitHub</a>
                    </div>
                </li>
                <li class="social-btn-list-item middle">
                    <div class="social-btn">
                        <a class="social-btn-link" href="https://twitter.com/TomCummings9202">Twitter</a>
                    </div>
                </li>
                <li class="social-btn-list-item middle">
                    <div class="social-btn">
                        <a class="social-btn-link" href="https://www.tiktok.com/@tom.cummings">TikTok</a>
                    </div>
                </li>
                <li class="social-btn-list-item middle">
                    <div class="social-btn">
                        <a class="social-btn-link" href="https://music.apple.com/profile/tomcummings07">Apple Music</a>
                    </div>
                </li>
                <li class="social-btn-list-item bottom">
                    <div class="social-btn">
                        <a class="social-btn-link" href="https://www.instagram.com/tom.cummings07/">Instagram</a>
                    </div>
                </li>

                <h3>Support Me!</h3>
            
                <li class="social-btn-list-item top">
                    <div class="social-btn">
                        <a class="social-btn-link" href="https://www.buymeacoffee.com/tom.cummings">Buy Me A Coffee</a>
                    </div>
                </li>
                <li class="social-btn-list-item bottom">
                    <div class="social-btn">
                        <a class="social-btn-link" href="https://cash.app/£TomCummings07">Cash App</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</body>

</html>