<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Tom Cummings</title>
</head>

<body>

    <header>
        <h1>Tom Cummings</h1>
    </header>

    <main>
        <section id='About'>
            <h2>Tad Bit About Me</h2>
            <p>
                Hey 👋, I'm Tom. I’m an aspiring Computer Scientist and have a keen interest in Artificial Intelligence and how it can advance human life.
            </p>
        </section>

        <section>
            <h2>Socials</h2>

            <ul>
                <li>
                    <a href="https://twitter.com/TomCummings9202">Instagram</a>
                </li>
                <li>
                    <a href="https://twitter.com/TomCummings9202">Twitter</a>
                </li>
                <li>
                    <a href="https://github.com/TomCummings07">GitHub</a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@tom.cummings">TikTok</a>
                </li>

                <h3>Support Me!</h3>
            
                <ul>
                    <li>
                        <a href="https://www.buymeacoffee.com/tom.cummings">Buy Me A Coffee</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/TomCummings9202">Cash App</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/TomCummings9202">PayPal</a>
                    </li>
                </ul>
            </ul>
        </section>
    </main>
    
</body>

</html>